.left-nav {
  flex-basis: 25%;
  flex:4;
  display: block;
  background: color('blue', 70);
  border-right: 5px solid color('blue', 80);
  color: #fff;
  @media(min-width: 40em){
    min-width: 250px;
  }

  a {
    color: #fff;
    text-decoration: none;
    display: block;
    &:hover {
      background:  color('blue', 80);
    }
  }

  .brand {
    font-size: 2em;
    padding: .5em;
    border-bottom: 1px solid  color('blue', 80);
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      a {
        padding: 1em;
      }
    }
  }
}
